# API URL for Production (e.g., https://your-backend-api.onrender.com/api)
# In development, Vite will proxy requests to /api automatically.
VITE_API_URL=https://movie-booking-backend-sepia.vercel.app/
